{
  "extends": "react-native-wcandillon",
  "rules": {
    "quotes": [1, "single", { "allowTemplateLiterals": true }],
    "object-curly-spacing": ["off", "always"],
    "@typescript-eslint/no-use-before-define": ["off", { "variables": false }],
    "@typescript-eslint/explicit-function-return-type": ["off"],
    "no-shadow": "off",
    "@typescript-eslint/interface-name-prefix": "off",
    "camelcase": "off"
  }
}